@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-yellow: #FFD826;
  --brand-dark: #101010;
  --brand-gray: #8A8A8A;
  --brand-white: #FFFFFF;
  --brand-light-gray: #F5F5F5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
